#form_div {
	position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 5%);
    transform: translate(-50%, 5%);
    margin-bottom: 59px;
}

.hidden{
    display: none;
}

.options {
    font-weight: 600;
    text-decoration: underline;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#panel{
    text-align: center;
}

.submenu {
    text-align: center;
}

.disabled {
 background-color: lightgray;
}

.submenu_li {
    display: inline;
}

.submenu_li a {
    color: black;
}

.submenu_li:hover {
    color: blue;
    cursor: pointer;
}
#search_div{
    transform: translate(0, 77%);
    height: 20em;
    margin: 0 auto;
    width: 50em;
    overflow: scroll;
}

#no_result_div{
    transform: translate(41%, 77%);
    height: 20em;
    margin: 0 auto;
    width: 50em;
}

.subtitle {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;

}

#employee_upload_form{
    margin-top: 2em;
}

#employee_button{
	color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
    display: inline-block;
    height: 40px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: solid 1px transparent;
    border-radius: 3px!important;
    font-weight: 400!important;
    white-space: nowrap;
    padding: 8px 12px;
    line-height: 20px!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-left: 24px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
    cursor: default;
    margin-right: 9em;
}

.input{
	float: left;
    width: 47%;
    margin-left: 3%;
}

#employee_add_title{
	margin: 16px;
}

.row {
    margin-left: 12px;
    margin-right: 0!important;
}

textarea {
    min-height: 60px;
}

.row {
    margin-top: 8px;
}

div{
	display: block;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    background-color: #fff;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}

label.required:after {
    content: '*';
    font-weight: 300!important;
}
